



html{ font-family: Quicksand; 
    background-image: url(/imagens/fundo.png);
    background-repeat: no repeat;
    background-size: cover;
    font-family: Quicksand;
    background-color: whitesmoke;
    font-size: 25px;
}
    
    .pai{ display: flex;
    
        justify-content:space-around;
        border-top: 5px solid silver;

 }
        
  .box{
    border-width: 5px;
    background-color: lightpink;
    font-size: 10px;
    text-align: center;


  }
    
    nav{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .logo{
        width: 130px;
    height: 130px;
    display: block;
    margin:0 auto;
    }
    
    
img{
    width: 100px;
    height: 100px;

}


p{ 
    font-size: 20px;
    text-align: center;
    margin: 90px;
}
nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.arte{
    width: 1500px;
    height: 300px;
    border-radius: 30px;
    margin-left: 10px;
}
.m{
    max-width: 1500px;
    max-height: 200px;
    height: auto;
    width: auto;
}